extends layout

block stylesheet
  link(rel="stylesheet", href="/stylesheets/blog.css")

block content
  .showpost
    h1 Blog
    .blogs
      each post, i in posts
        hr
        .post
          .title.flexc
            .subject= post.subject
            .datetime= post.formatDatetime
          .entry= post.entry
          

block scriptEnd
  //- script(src="/javascripts/blogtest.js")