extends layout

block stylesheet
  link(rel="stylesheet", href="/stylesheets/index.css")

block content
  h1 Welcome to #{title}
  .intro
    p.
      My name is Pei-An (Peter) Wu, and I'm building this site 
      to learn Node.js and other JS technologies.
    p.
      I'll intermittently update the contents of this site with 
      projects and concepts I wish to experiemnt on, as well as improve the 
      design and feel of this domain. I'm starting off as an 
      absolute beginner in web development and programming, so 
      I hope to capture and show all my progress in here.
    p.
      All the codes for this site can be found on 
      <a href="https://github.com/peianwu/peianwu2">github</a>.
