doctype 5
html(lang="en")
  head
    meta(charset="utf8")
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    block stylesheet
    block scriptStart
  body.flexc
    .wrapper.flexc
      header.flexc
        .logo
          a(href="/") peianwu.com
      section.main
        block content
      footer
        hr
        ul.flexc.sitemap
          li 
            a(href="/") home
          li
            a(href="/survey") survey
          li
            a(href="/about") about

    script(src="/javascripts/layout.js")
    block scriptEnd