doctype 5
html(lang="en")
  head
    meta(charset="utf8")
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    block stylesheet
    block scriptStart
  body.flexc
    .wrapper
      header.flexc
        .logo peianwu.com
      .main-section
        block content
      footer
        hr
        ul.flexc.sitemap
          li home
          li
            a(href="/survey") survey
          li about

    script(src="/javascripts/layout.js")
    block scriptEnd