section.aboutme {
  margin-top: 10px;
  width: 100%;
}

h1 {
  margin-bottom: 10px;
}

.info ul li {
  margin-top: 5px;
  list-style-type: none;
}

/*portrait section*/
img.profilepic {
  height: 200px;
  width: 200px;
}

.portrait {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;

  min-height: 200px;
  min-width: 200px;
}

/*bio section*/
.info {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;

  margin-top: 20px;
  min-width: 400px;
}

.detail {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #7d7d7d;
}

.label {
  margin-right: 10px;
  text-align: right;
  width: 90px;
  color: #000;
}

/*responsive scenarios*/
@media screen and (max-width: 640px) {
  /*switch from row to column*/
  section.aboutme {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer {
    margin-top: 30px;
  }
}
