/*reset*/

* { margin: 0; padding: 0; border: 0; 
  vertical-align: baseline; }
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, Times, "Times New Roman", serif;
 }

/*high level elements*/
body {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;

  min-width: 400px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

a {
  color: #7d7d7d;
  text-decoration: underline;
}

a:hover {
  color: #ffa500;
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}

hr {
  border: 0;
  height: 12px;
  width: 100%;
  
  box-shadow: inset 0 3px 3px -3px rgba(0,0,0,0.5);
}

.wrapper {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  margin: 10px 45px;
  width: 760px;
}

.projects {
  overflow: hidden;
}

/*custom global class, usable in other css files*/
.flexc {
   display: -webkit-flex;
   display: -ms-flex;
   display: flex;
}

.hide {
  display: none;
}

/*header section*/
header {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.logo a{
  padding: 0 3px 2px;
  
  background-color: #000;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}

.logo a:hover {
  color: #ffa500;
}

/*content section*/
section.main {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  min-height: 450px;
  padding-top: 50px;
}

/*footer section*/
footer a {
  text-decoration: none;
}

.sitemap {
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}

ul.sitemap li {
  margin-top: 5px;
  margin-left: 10px;

  color: #7d7d7d;
  font-size: 1em;
  list-style-type: none;
}