.survey {
  margin-top: 10px;
  width: 70%;
  color: #7d7d7d;
}

.survey div {
  margin-bottom: 5px;
}

.survey label {
  display: inline-block;
  width: 60px;
}

.survey input {
  margin-left: 3px;
  padding: 1px 2px;
  border: 1px solid #e7e7e7;
}